<!--https://www.lightningdesignsystem.com/components/accordion/-->

<ul class="accordion">
    <li class="accordion__list-item">
        <section class="accordion__section is-open">
            <div class="accordion__summary">
                <h3 class="text-heading_small accordion__summary-heading">
                    <button aria-controls="accordion-details-01" aria-expanded="true" class="button button_reset accordion__summary-action">
                        <svg class="accordion__summary-action-icon button__icon button__icon_left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                        </svg>
                        <span class="truncate" title="Accordion summary">Accordion summary</span>
                    </button>
                </h3>
                <button class="button button_icon button_icon-border-filled button_icon-x-small shrink-none" aria-haspopup="true">
                    <svg class="button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg>
                    <span class="assistive-text">More Options</span>
                </button>
            </div>
            <div aria-hidden="false" class="accordion__content" id="accordion-details-01">Accordion details - A</div>
        </section>
    </li>
    <li class="accordion__list-item">
        <section class="accordion__section">
            <div class="accordion__summary">
                <h3 class="text-heading_small accordion__summary-heading">
                    <button aria-controls="accordion-details-02" aria-expanded="false" class="button button_reset accordion__summary-action">
                        <svg class="accordion__summary-action-icon button__icon button__icon_left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                        </svg>
                        <span class="truncate" title="Accordion summary">Accordion summary</span>
                    </button>
                </h3>
                <button class="button button_icon button_icon-border-filled button_icon-x-small shrink-none" aria-haspopup="true">
                    <svg class="button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg>
                    <span class="assistive-text">More Options</span>
                </button>
            </div>
            <div aria-hidden="true" class="accordion__content" id="accordion-details-02">Accordion details - B</div>
        </section>
    </li>
    <li class="accordion__list-item">
        <section class="accordion__section">
            <div class="accordion__summary">
                <h3 class="text-heading_small accordion__summary-heading">
                    <button aria-controls="accordion-details-03" aria-expanded="false" class="button button_reset accordion__summary-action">
                        <svg class="accordion__summary-action-icon button__icon button__icon_left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                        </svg>
                        <span class="truncate" title="Accordion summary">Accordion summary</span>
                    </button>
                </h3>
                <button class="button button_icon button_icon-border-filled button_icon-x-small shrink-none" aria-haspopup="true">
                    <svg class="button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg>
                    <span class="assistive-text">More Options</span>
                </button>
            </div>
            <div aria-hidden="true" class="accordion__content" id="accordion-details-03">Accordion details - C</div>
        </section>
    </li>
</ul>

